#!/usr/bin/make -f

%:
	dh $@
#	dh $@ --with pkgkde_symbolshelper

override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_BUILD_TYPE=Debug \
	-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_test:
	# Skip tests
